<div class="row">
   <div class="col-md-12">
			<hr>
			<a name="commitments">
				<h1>Commitments</h1>
			</a>

			<p>
			It is my ultimate goal for this course, and my teaching, to
			develop your academic skills, advance your learning
			of electrical and electronics engineering concepts. To do so
			will require commitments from <em>myself</em> and from you toward meeting this goal.
			</p>

		<h2>Active Participation</h2>
			<p>
			<em>I will be prepared and on time for class each day, ready to use class time
			to help you understand the course material. I will respectfully listen to,
			understand, and answer questions asked in class. </em>

			<p>
			You are expected to attend class and actively participate in discussions every day,
			answering questions, asking questions, presenting material, etc. Your
			participation will be respectful of your classmates, both of their
			opinions and of their current point in their educational journey, as we
			each approach the material with different backgrounds and contexts.
			</p>

		<h2>Constructive Feedback</h2>
			<p>
			<em>I will keep office hours and be available for outside appointments, and respond
			to emails. I will provide feedback on group presentations, exams, projects,
			and homeworks.</em>
			</p>

			<p>
			You are encouraged to provide constructive comments for improving this
			course for furthering your learning throughout the semester.
			There will be an opportunity for anonymous course feedback</a>
			at the end of the semester, in which I hope you all participate. Through your
			feedback I can improve this course and others for future students.
			</p>

		<h2>Academic Integrity</h2>
			<p>
			<em>I will abide by the above syllabus and grade your work fairly.</em>
			</p>

			<p>
			<ul>
			<li>All students have an equal right to their opinions and to receive constructive criticism.

			<li>Students should positively engage the course material and encourage their classmates to do the same.

			<li>No students should gain an unfair advantage or violate their peers' commitment to honest work and genuine effort. It follows that any work that a student submits for class will be that student's own work. The amount of cooperation undertaken with other students, the consistency and accuracy of work, and the test-taking procedure should adhere to those guidelines that the instructor provides.

			<li>Members of the Hendrix community value and uphold academic integrity because we recognize that scholarly pursuits are aimed at increasing the shared body of knowledge and that the full disclosure of sources is the most effective way to ensure accountability to both ourselves and our colleagues.
			</ul>
	</div>
	</div>
